<ion-header>
  <ion-toolbar color='secondary'>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]='name' name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]='email' name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="text" [(ngModel)]='edad' name="edad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sexo</ion-label>
    <ion-input type="text" [(ngModel)]='sexo' name="sexo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]='password' name="password"></ion-input>
  </ion-item>

  <br>
  <ion-button expand="block" color='secondary' (click)='OnSubmitRegister()'>Registrarse</ion-button>
  <br>
  <ion-button color='secondary' routerLink='/login' expand="block">Volver</ion-button>

</ion-content>