<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-item>
        <ion-avatar slot='start'>
          <ion-img src='https://picsum.photos/seed/picsum/200/300'></ion-img>
        </ion-avatar>
        <ion-label>
          <h2><b>Chat de grupo</b></h2>
          <h3>Esto es un chat grupal</h3>
          <p>Accede dando click</p>
        </ion-label>
      </ion-item>
    </ion-item>
      
  </ion-list>

  
  <!--<ion-button (click)="Onlogout()">desconectarse</ion-button>-->
  
</ion-content>